:root{
  --navbar-height: 3.5em;
  --body-bg-color: #F5F6F6;
}

body{
  background-color: var(--body-bg-color);
  padding-bottom: 20px;
  padding-top: calc(var(--navbar-height) + 20px);
}

a{
  color: inherit;
}

a:hover, a:focus{
  color: inherit;
  text-decoration: underline;
}

.navbar{
  min-height: var(--navbar-height);
  background-color: var(--body-bg-color);
  margin-bottom: 0;
}

.navbar a{
  color: black;
}

.navbar .navbar-brand{
  font-size: 1.5em;
  font-family: monospace;
  padding: 8px 15px;
}

.navbar .navbar-brand:hover{
  color: initial;
}

.navbar .navbar-nav li a, .navbar-brand{
  line-height: var(--my-navbar-height)/2;
}

.alert .close{
  opacity: 0.6;
}

.alert .close:hover{
  opacity: 0.8;
}

h1, h2, h3, h4, h5{
  margin-top: 0px;
  color: #424242;
}

label{
  margin-right: 10px;
}

footer{
  position: fixed;
  text-align: center;
  bottom: 10px;
  right: 0;
  left: 0;
}

.btn-transparent{
  border-color: gray;
  background-color: gray;
  background-image: none;
}

.btn-transparent{
  background-color: transparent;
  background-image: none;
  border-color: #888;
}

.btn-transparent:hover,
.btn-transparent:focus{
  color: inherit;
  background-color: rgba(0,0,0,0.02);
}

.table-sortable th{
  cursor: pointer;
}

@media(max-width: 768px){
  .form-inline .form-control{
    display: inline-block;
    width: initial;
  }
}

@supports (-webkit-touch-callout: none) {
  /* IOS DEVICES ONLY */

  * {
    cursor: pointer !important; /* fix iOS not registering click events, https://stackoverflow.com/questions/24077725/mobile-safari-sometimes-does-not-trigger-the-click-event#comment86597437_39712411 */
  }
}
